.jumbotron {
    padding-top: 6rem;
    background-color: #ff0000;
}
.kuning {
    background-color:#fffecb;
}
section {
    padding-top: 15rem;
}
.gallery-img{
    width: 100%;
}
#gallery .row > * {
    padding: 0;
  }
#gallery {
    background-color: #fffecb;
}